<header>
    <nav>
        <a href="/">MySongs App</a>
        <ul>
            <li>
                <a href="/playlist">Playlist</a>
                <a href="/songs">All Songs</a>
                <a href="/songs/new">Add Song</a>
                <a href="/singers">All Singers</a>
                <a href="/singers/new">Add Singer</a>
            </li>
        </ul>
    </nav>
</header>