<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySongs App</title>
    <style>
        table, th, td {
            border: 1px solid black;border-collapse: collapse;
                }
        table {
            table-layout: auto;
            width:40%;
        }   

        th{
            font-size: 20px;
        }

        td{
            font-size:15px;text-align:center;
        }
    </style>
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <%- include('../partials/errorMessage.ejs')%>
    <%- body %>
</body>
</html>