<h2>Playlist</h2>

<table >
    <tr >
        <th>Title</th>
        <th>Singer</th>
    </tr>
    <% songs.forEach(song => { %>
        <tr>
            <td><%= song.title%></td>
            <td><%= song.singer%></td>


        </tr>
    <% }) %>
</table>

